/********** nomalize **********/
html, body, h1, h2, h3, h4, h5, h6, 
p, div, input, nav, textarea, select, header, section, article, aside, footer, form 
table, thead, tbody, tr, td, th,
ul, li, ol, dl, dt, dd {
	margin: 0; padding: 0;
	box-sizing: border-box;}

img {vertical-align: bottom;}

table {border-collapse: collapse;}

ul, ol {list-style: none;}

/* html, body {height: 10000px;}  만들때 해놓고 지워도 됨*/


/********** 공통사항 **********/
.clear:after {content: ""; display: block; clear: both;}
.img {width: 100%;}
.imgx {max-width: 100%;}
.pointer {cursor: pointer;}
